The dataset has been taken from Data World which is free and open data community.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://query.data.world/s/5zp7kqkhp6aycvezneyvw4s5vncwyp')
df.head()

       WeekID  ...  Sentiment
0  1958-08-02  ...   0.500000
1  1958-08-02  ...   0.000000
2  1958-08-02  ...   0.028175
3  1958-08-02  ...  -0.089815
4  1958-08-02  ...   0.278788

[5 rows x 13 columns]

In [3]:
df['WeekID'] =pd.to_datetime(df.WeekID)
df['Year'] = pd.DatetimeIndex(df['WeekID']).year

In [4]:
df=df[['Lyrics','Sentiment','Week Position','Year']]

In [5]:
df.head()

                                              Lyrics  ...  Year
0  For your love, oh, I would do anything\nI woul...  ...  1958
1  Do you want to dance and hold my hand?\nTell m...  ...  1958
2  Well...\n\nYou're gonna miss me\nEarly in the ...  ...  1958
3  VERSE 1\nThe night was black, rain falling dow...  ...  1958
4  You need hands\nTo hold someone you care for\n...  ...  1958

[5 rows x 4 columns]

In [6]:
#data cleaning: removing '\n' and ['values']
import re
df['Lyrics']=df['Lyrics'].replace(r'\n', ' ', regex=True)
df['Lyrics']=df['Lyrics'].replace(r"\[(.*?)\]", " ",regex=True)

In [7]:
df.head()

                                              Lyrics  ...  Year
0  For your love, oh, I would do anything I would...  ...  1958
1  Do you want to dance and hold my hand? Tell me...  ...  1958
2  Well...  You're gonna miss me Early in the mor...  ...  1958
3  VERSE 1 The night was black, rain falling down...  ...  1958
4  You need hands To hold someone you care for Yo...  ...  1958

[5 rows x 4 columns]

In [9]:
df.to_csv('test.csv')